body
    {

        color:red;
        background-color=yellow;



                      } 
   p
  {
            color:green;
            background-color:white;



                                       }



         